<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-3">
  <a class="navbar-brand fw-bold text-primary" href="#">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link d-flex align-items-center" routerLink="/Home">
          <img
            src="../assets/quickKart-images/home.png"
            alt="Home"
            class="me-2"
            style="width: 20px; height: 20px"
          />
          Home
        </a>
      </li>

      <!-- View Products Button -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewProducts">View Products</a>
      </li>

      <!-- Add Products Button -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/addProducts">Add Products</a>
      </li>
    </ul>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</nav>
