<div class="login-container">
    <h2>Login</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="username">Email ID</label>
        <input type="text" id="username" [(ngModel)]="user.EmailId" name="username" ngModel required>
      </div>
      <div class="form-group">
        <label for="password" >Password</label>
        <input type="password" id="password" [(ngModel)]="user.UserPassword" name="password" ngModel required>
      </div>
      <button type="submit">Login</button>
      <button type="button" id="guest" (click)="guestCredential()">Guest Credentials</button>
      <div *ngIf="loading" class="spinner-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      <div>{{msg}}</div>
    </form>
  </div>
  <div class="note">
    (Note: This Web-app is running in Free Azure Subscription, So when Logging in for the First Time If 'Kindly Login again...' error appears Kindly click Login button again)
  </div>